# BEGIN sw-secure-deploy
# Disallow access to htaccess
<FilesMatch "^(\.htaccess|\.htpasswd)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Protect sensitive files
<FilesMatch "^(\.bashrc|sftp\.json|sftp-config\.json|sftp-settings\.json|\.deploy\.json)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Disable directory browsing
Options -Indexes

# Block access dev folders
<IfModule mod_rewrite.c>
    RewriteRule \.(git|svn|vscode|idea)(/.*)?$ - [F,NC]
</IfModule>
# END sw-secure-deploy
